# ==============================
# NutShell Search 基础配置文件
# ==============================

# --- 在线服务器配置 ---
# 服务器监听的 IP 地址
SERVER_IP=0.0.0.0
# 服务器监听的端口
SERVER_PORT=8848

# --- 离线语料库路径配置 ---
# XML 网页语料库目录
CORPUS_WEBPAGES_DIR=../data/corpus/webpages
# 中文 txt 语料库目录
CORPUS_CN_DIR=../data/corpus/CN
# 英文 txt 语料库目录
CORPUS_EN_DIR=../data/corpus/EN

# --- 停用词路径 ---
# 英文停用词文件
STOPWORDS_EN_PATH=../data/stopwords/en_stopwords.txt
# 中文停用词文件
STOPWORDS_CN_PATH=../data/stopwords/cn_stopwords.txt

# --- 关键字推荐离线产物 ---
# 英文词典库
KEYWORD_DICT_EN_PATH=../data/index/dict_en.dat
# 英文索引库
KEYWORD_INDEX_EN_PATH=../data/index/index_en.dat
# 中文词典库
KEYWORD_DICT_CN_PATH=../data/index/dict_cn.dat
# 中文索引库
KEYWORD_INDEX_CN_PATH=../data/index/index_cn.dat

# --- 网页搜索离线产物 ---
# 网页库文件
WEBPAGE_PAGELIB_PATH=../data/index/pages.dat
# 网页偏移库文件
WEBPAGE_OFFSET_PATH=../data/index/offsets.dat
# 倒排索引文件
WEBPAGE_INVERT_PATH=../data/index/invert_index.dat
